<style type="text/css">
html,body{margin:0;padding:0;}
body{margin:0; padding:0;background: #e2e2e0; color: #666;font: 16px/28px;font-family: 'Open Sans', sans-serif; line-height:22px;}
h1,h2{font-family:oswald;text-transform:uppercase;font-weight:normal;}
a{color:#21aabd;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}


	#container		{width: 1000px;height: 700px;margin: 0 auto;background:#fff}
		
		/*** Header ***/
		#header			{width:960px;padding:20px;background:#21aabd;}
		#header h1	{color:#fff;}
			
		.item-evi		{width:280px;padding:20px;float:left;}
		/*** Nav ***/	
		#nav			{width:960px;background:#666;color:#fff;}
			#nav a		{color:#fff; padding:15px 20px;display:inline-block; text-decoration:none; text-transform:uppercase;font-family:oswald;}
			#nav a:hover{background:#333;}
			
	
						
		/*** Contenuto ***/
		#content		{width:620px;padding:20px;float:left;}
			#content .articolo	{border-bottom:1px solid #eee;min-height:190px;padding:0px 0 10px 0;}
			#content .articolo img{float:left;margin: 0 20px 0 0;}
			
			#content .last		{border-bottom:none;}
			/* shadow button */
			#button         {
							height: 25px;              /* altezza             */
						    width: 80px;                 /* larghezza           */
							background:#666;color:#fff;
							padding:15px 30px;
						    font-family:oswald;
						    padding: 2px;  
							background-color: #666;
  							
							}
			#button2         {
							
							background:#666;color:#fff;
							height:25px;
							width: 200px;
						    font-family:oswald;
						    padding: 2px;  
							background-color: #666;
  							
							}				
			#button:hover   {
							color:#ffff00;
							box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
							
							}
			#button2:hover  {
							color:#ffff00;
							box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
							
							}
}
		#submit {
				  background-color: #fff; /* colore di sfondo    */
				  border: 2px solid #333;  /* bordo dell'elemento */
				  color: #333;               /* colore del testo    */
				  font-weight: bold;         /* testo in grassetto  */
				  padding: 1px;                /* padding             */
				  height: 25px;              /* altezza             */
				  width: 80px;               /* larghezza           */
				}
				#submit2 {
				  background-color: #fff; /* colore di sfondo    */
				  border: 2px solid #333;  /* bordo dell'elemento */
				  color: #333;               /* colore del testo    */
				  font-weight: bold;         /* testo in grassetto  */
				  padding: 1px;                /* padding             */
				  height: 25px;              /* altezza             */
				  width: 160px;               /* larghezza           */
				}
		/*** Sidebar ***/		
		#sidebar {width:260px;padding:20px;float:left;}
		/*** Footer ***/
		#footer			{width:960px;padding:20px;clear:both;background: #666;color:#fff}
</style>